.sectionSevenTop{
    width:100%;
    padding: 50px 0px;
}

.titleContainer{
    width:100%;
    display: flex;
    justify-content: center;
}


.titleHolder{
    width: max-content;
}

.titleHolder h3{
    font-size: 24px;
    font-weight: 700;
    color: rgb(27, 27, 27);
}

.titleHolder h3 span{
    color:  #fd7e14;
}

.textSecondaryContainer{
    width:40%;
    margin:0px auto;

}

.decoration{
    width:50%;
    display: flex;
    justify-content: center;
    gap:10px;
    margin: 0px auto;
}

.decoration hr{
    width:70px;
    height:0px;
}
.paraContainer p {
    text-align: center;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.4px;
    color: rgb(68, 68, 68);
}

.sectionSevenBottom{
    width:95%;
    height:500px;
    margin:30px auto 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sectionSevenLeft{
    height: 100%;
    width:410px;
    background-color: rgb(128,128,128,0.1);
    background-image: url('https://template.hasthemes.com/rideo/rideo/img/products/ssl.jpg');
    background-size: 110% ;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap:20px;
    padding-bottom:5px;
    position:relative;
    cursor: pointer;
}

.tag{
    position: absolute;
    background-image: url('https://template.hasthemes.com/rideo/rideo/img/products/tag.png');
    width:100px;
    height:50px;
    background-repeat: no-repeat;
    top:20px;
    left:20px;
}
.sectionSevenCenter{
    height:80%;
    width:420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:20px;
    align-items: flex-start;
    align-self: flex-start;
    
}

.sectionSevenCenter > div{
    width:100%;
    height:200px;   
    display: flex;
    justify-content: space-between;
}   

.sectionSevenCenter > div > div{
    width:200px;
    height:100%;
    background-color: rgb(128,128,128,0.1);
    background-image: url('https://template.hasthemes.com/rideo/rideo/img/products/ss.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position:relative;

}

/*
.centerTopLeft{}

.centerTopRight{}

.centerBottomLeft{}

.centerBottomRight{}
*/

.smallCardtextContainer{
    width:100%;
    height:max-content;
    display: flex;
    flex-direction: column;
    gap:5px;
}

.nameContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nameContainer h3{
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
    letter-spacing: 1.2px;

}

.priceContainer{
    width:100%;
    height: max-content;
    display: flex;
    gap:10px;
    justify-content: center;
}

.priceContainer p{
    width:max-content;
    font-size: 16px;
    font-weight: 500;
    color:rgb(68,68,68);
    margin: 0px;
}

.priceContainer p:nth-child(2){
    color:#fd7e14;
}

 
.sectionSevenRight{
    height: 100%;
    width:410px;
    background-color: rgb(128,128,128,0.1);
    background-image: url('https://template.hasthemes.com/rideo/rideo/img/products/ssr.jpg');
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap:20px;
    padding-bottom:5px;
    position:relative;
    cursor: pointer;

}


@keyframes showActions {
    0% {opacity: 0;}
    25% {opacity: 0.25;}
    50% { opacity: 0.5;}
    75% {opacity: 0.75;}
    100% {opacity:1}
}
.actionContainer{
    animation: showActions;
    animation-duration: 0.4s;
    width:70%;
    height:max-content;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    transition: all 0.5s ease-in-out;
    margin:0px auto;
}

.actionHolder{
    width:50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0px auto;
    height:100%;
}


.actionHolder > div{
    width:40px;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid orange;
    color:#fd7e14;;
}

.actionHolder > div:hover{
    background: #fd7e14;
    color:white;
    cursor:pointer;
    border:1px solid #fd7e14;
    font-weight: 700;
}

@keyframes showPortal {
    0% {opacity:0}
    25% {opacity:0.25}
    50% {opacity: 0.5}
    75% {opacity: 0.75}
    100% {opacity: 1}
}

.portalOutterContainerSectionSeven{
    animation: showPortal 0.3s ease-in-out ;
    position:absolute;
    width:95%;
    height:580px;
    border:1px solid #fd7e14;
    z-index: 100;
    background:white;
    left:2%;
    right:2%;
    bottom:-552.1%;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 20px;;
}

